header {
    height: 50px;
    border: 1px greenyellow solid;
    color: darkblue;
    text-align: center;
    font-size: 50px;
    font-family: 'Carrois Gothic';
    padding: 10px;
    background: linear-gradient(yellowgreen, green);
} 

.margen {
    height: 400px;
    border: 2px greenyellow dotted;
    text-align: center;
    font-size: 40px;
    font-family: 'Carrois Gothic';
    background-color: rgb(220, 243, 220);
    margin: 15px 600px 100px 600px;





}